@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.navbar-container{
    /* border: 2px solid black; */
    border-radius: 0px 0px 5px 5px;
    background-color: black;
    box-shadow: 0px 2px 5px gray;
    height: 4pc;
    display: flex;
    justify-content: right;
    align-items: center;
}

.nav-ul{
    /* border: 2px solid rgb(255, 0, 0); */
    display: flex;
}

.nav-li{
    /* border: 2px solid rgb(0, 255, 0); */
    list-style: none;
    margin-right: 60px;
    
    
}

.nav-li a{
    text-decoration: none;
    color: white;
    font-size: 21px;
    font-family: 'Raleway', sans-serif;
}

.nav-li a:hover{
    color: rgb(170, 170, 170);
    text-shadow: 2px 1px 4px grey;
}